body {
    background-image: url(./55883-podsvetka_grafika_rendering_bloki.jpg);
    background-size: cover;
}

.big_box {
    display: flex;
    justify-content: center;
    margin-top: 180px;

}

.box {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(243, 4, 4);
    border-radius: 15%;
    margin: 55px;
    padding: 15px;
}

span {
    color: red;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
}
.ukr {
    margin-top: 20px;
    float: right;
    margin-top: 40px;
}

.playing {
    transform: scale(.95); 
    border-color: rgb(243, 4, 4); 
    box-shadow: 0 0 40px 10px rgb(243, 4, 4);
    background-color: rgb(248, 126, 126);
    opacity: 1;
}
